body {
  background-color: #f8f8f8; /* Цвет фона из фигмы */
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
}

.navigation-menu {
  padding-left: 30px;
  padding-right: 30px;
}
.content-section {
  padding-left: 30px;
  padding-right: 30px;
}
/* golova */
.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header__title {
  font-size: 28px;
  border-left: 4px solid #b8ffec;
  padding-left: 15px;
  padding-top: 10px;
}
.header_menu_icon {
  height: 100%;
  width: 25%;
  display: none;
}
.header_menu_icon2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-top: 20px;
  border-right: #999ba245 3px solid;
}
.header_menu {
  width: 300px;
  height: 88px;
  display: flex;
  gap: 10px;
}

.cps_1 {
  height: 100%;
  width: 50%;
  display: flex;
  display: none;
}
.cps_1 img {
  padding-top: 20px;
}

.tablet-icon {
  padding-right: 10px;
  border-right: #999ba245 3px solid;
}

.header__actions {
  display: flex;
  gap: 32px;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.btn-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  border: none;
}

/* nav */
.navigation-menu {
  display: none;
}
.tabs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin-bottom: 40px;
}

.tab {
  color: #7e7e7e;
  padding: 8px 16px;
  border: 1px solid transparent;
}

.tab.active {
  background: #ffffff;
  border: 1px solid #b8ffec;
  border-radius: 6px;
}

.content-section {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.content-text {
  flex: 1;
}

.content-text p {
  line-height: 1.6;
  margin-bottom: 20px;
  color: #1b1c21;
}

.content-image {
  flex: 1;
}

.content-image img {
  width: 100%;
  border-radius: 6px;
}

.read-more {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.arrow {
  color: #41f6d7;
  font-size: 18px;
}
/* 768px icon */
/* .ipad-icon .tablet-icon {
  display: none;
} */
.divider {
  display: none;
}
#check {
  display: none;
}
.ipad-icon {
  display: none;
}
@media (max-width: 768px) {
  .header {
    background-color: #ffffff;
  }
  .header__title {
    display: none;
  }
  .ipad-icon {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 180px;
  }
  .header__actions {
    gap: 5px;
  }
  .ipad-icon {
    display: block;
  }
  .action-item span {
    display: none;
  }
  .divider {
    display: block;
  }
  .cps_1 {
    display: block;
  }
  .header_menu_icon {
    display: block;
  }
  .navigation-menu {
    display: block;
  }
}
.divider {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  flex-shrink: 0;
  display: none;
}
