body {
  background-color: #f8f8f8; /* Цвет фона из фигмы */
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 1120px;
  padding: 40px;
}

/* golova */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header__title {
  font-size: 28px;
  border-left: 4px solid #b8ffec;
  padding-left: 15px;
}

.header__actions {
  display: flex;
  gap: 32px;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.btn-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  border: none;
}

/* nav */
.tabs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin-bottom: 40px;
}

.tab {
  color: #7e7e7e;
  padding: 8px 16px;
  border: 1px solid transparent;
}

.tabs-list .lupa {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.content-section {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.content-text {
  flex: 1;
}

.content-text p {
  line-height: 1.6;
  margin-bottom: 20px;
  color: #1b1c21;
}

.content-image {
  flex: 1;
}

.content-image img {
  width: 100%;
  border-radius: 6px;
}

.read-more {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.arrow {
  color: #41f6d7;
  font-size: 18px;
}
