body {
  background: #f8f8f8;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  width: 100%;
}
.main-container {
  padding: 0 30px;
}
/* golova */
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

.header__right,
.header__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__left {
  display: none;
}
.divider {
  width: 2px;
  height: 30px;
  background: #eaeaea;
  margin: 0 10px;
}

.btn-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #fff;

  align-items: center;
  justify-content: center;
}
.btn-pink {
  background: #ff3e79;
}
.hide-mobile {
  margin-left: 5px;
}

.page-title {
  font-size: 28px;
  border-left: 4px solid #41f6d7;
  padding-left: 15px;
  margin-top: -50px;
}

.tabs-list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.tab {
  padding: 8px 15px;
  color: #7e7e7e;
  border: 1px solid transparent;
  cursor: pointer;
  white-space: nowrap;
}
.tab.active {
  background: #fff;
  border-color: #b8ffec;
  border-radius: 6px;
}

/* text */
.content-section {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}
.content-text {
  flex: 1;
}
.content-image {
  flex: 1;
}
.content-image img {
  width: 100%;
  border-radius: 6px;
}

.read-more {
  border: none;
  background: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  cursor: pointer;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  flex-grow: 1;
}

.tablet-icons {
  display: none;
  align-items: center;
  gap: 16px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.action-item span {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
}
/* ipad */
@media (max-width: 1120px) {
  .content-section {
    gap: 20px;
  }
  .page-title {
    margin: 20px 0;
  }

  .tabs-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  .action-item span {
    display: none;
  }
  .header__left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .tablet-icons {
    display: flex;
    gap: 10px;
  }
}

/* --- telefon(320px-768px) --- */
@media (max-width: 768px) {
  .main-container {
    padding: 0 15px;
  }
  .hide-mobile {
    display: none;
  }

  .content-section {
    flex-direction: column;
  }

  .header__right .tablet-icons {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .text-wrapper p:last-child {
    display: none;
  }

  .page-title {
    font-size: 22px;
  }
}

.tabs-list::-webkit-scrollbar {
  display: none;
}
.tabs-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
