@font-face {
  font-family: "TText";
  src: url(./TText/TTLakes-Medium.ttf);
}
body {
  background: #f8f8f8;
  margin: 0;
  width: 100%;
}

/* golova */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  box-sizing: border-box;
  align-items: center;
  font-family: "TText";
  height: 88px;
  width: 100%;
}

.header__right,
.header__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__left {
  display: none;
}
.divider {
  width: 2px;
  height: 30px;
  background: #eaeaea;
  margin: 0 10px;
  display: none;
}

.btn-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #fff;

  align-items: center;
  justify-content: center;
}
.btn-pink {
  background: #ff3e79;
}
.hide-mobile {
  margin-left: 5px;
}

.page-title {
  font-size: 28px;
  border-left: 4px solid #41f6d7;
  padding-left: 15px;
  margin-top: -70px;
  font-family: "TText";
}

.tabs-list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
  font-family: "TText";
  padding: 0 34px;
}
.tab {
  padding: 8px 15px;
  color: #7e7e7e;
  border: 1px solid transparent;
  cursor: pointer;
  white-space: nowrap;
}
.tab.active {
  background: #fff;
  border-color: #b8ffec;
  border-radius: 6px;
}

/* text */
.content-section {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  font-family: "TText";
  font-weight: 400;
  padding: 0 34px;
}
.content-text {
  flex: 1;
}
.content-image {
  flex: 1;
}
.content-image img {
  width: 100%;
  border-radius: 6px;
}

.read-more {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  cursor: pointer;
  font-family: "TText";
  font-size: 16px;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  flex-grow: 1;
}

.tablet-icons {
  display: none;
  align-items: center;
  gap: 16px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.action-item span {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
}
.header__contacts {
  display: none;
}
/* ipad */
@media (max-width: 1120px) {
  .content-section {
    gap: 20px;
  }
  .header {
    background: #ffffff;
    height: 88px;
    width: 100%;
  }
  .header__contacts {
    display: flex;
    gap: 8px;
  }
  .page-title {
    margin: 20px 0;
  }
  .tablet-visible span,
  .action-item span {
    display: none;
  }
  .tabs-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  .header__left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .tablet-icons {
    display: flex;
    gap: 10px;
  }
  .divider {
    display: flex;
  }

  /* --- telefon(320px-768px) --- */
  @media (max-width: 768px) {
    .hide-mobile,
    .header__right .tablet-icons,
    .desktop-only {
      display: none;
    }
    .content-text {
      padding: 0 16px;
    }
    .content-section {
      flex-direction: column;
      padding: 0;
    }

    .text-wrapper p:last-child {
      display: none;
    }

    .page-title {
      font-size: 22px;
    }
  }

  .tabs-list::-webkit-scrollbar {
    display: none;
  }
  .tabs-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0 16px;
  }
}
